/* COLOR PALETTE:
#F2C185 - dark
#F2A057 - blue
#F2D1B3 - light
#BF6430 - lighter
#733620 - darker
 */

html, body {
    margin: 0 auto;
    min-height: 100%;

    color: lightblue;
    background: darkred;
}

input, select, textarea {
    font-size: 80%;
}

input[type=submit]:hover {
    color: yellow;
}

input[type=submit] {
    background: transparent;
    border: 0;
    font-weight: lighter;
    color: gold;
    cursor: pointer;
}

.error-msg {
    color: red;
    text-align: center;
}

.info-msg {
    color: lightblue
}

#login {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: flex-end;
    justify-content: center;
    font-size: 5em;
}

#login > .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#signout {
    text-align: center;
    background: black;
    padding: 10px;
    box-shadow: 0 0 5px black;
    font-size: 2em;
}

#signout a {
    color: lightblue;
}

.shopping-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
    font-size: 4em;
}

.shopping-list-container .shopping-list {
    list-style: none;
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.shopping-list-container .shopping-list .item form {
    display: inline-block;
    background: transparent;
}
