/* COLOR PALETTE:
#F2C185 - dark
#F2A057 - blue
#F2D1B3 - light
#BF6430 - lighter
#733620 - darker
 */

html, body {
    margin: 0 auto;
    min-height: 100%;
    color: lightblue;
    background: darkred;
    text-shadow: 1px 1px;
}
